.footer {
  background: radial-gradient(549.89% 73.65% at 5.73% 50%, rgb(81, 61, 47) 0%, rgb(26, 26, 28) 100%);
  padding: 40px 40px 0 40px;
  .footer__wrapper {
    @include fl-row;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 160px;

    .footer-block {
      @include fl-clmn;
      position: relative;
      top: 16px;
      .contact__list {
        @include fl-clmn;
        gap: 40px;
        margin: 36.4px 0;
      }
      .location__list {
        @include fl-clmn;
        gap: 32px;
        margin: 31.4px 0;
      }
      ul {
        .footer__list {
          @include fl-row;
          gap: 20px;
          align-items: center;
        }
      }
    }
    .footer__location{
      right: 14px;
    }
  }
}
