.header {
  @include fl-row;
  align-items: center;
  justify-content: space-between;

  .header__logo {
    text-align: left;
    @include fl-clmn;
    gap: convertRem(10);
  }

  .header__navigation {
    .nav__list {
      gap: convertRem(35);
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      padding: 0;
      padding-left: 0;
      @include fl-row;

      .list {
        list-style: none;
        .nav-list__links {
          text-decoration: none;
        }
        .nav-list__links:hover {
          color: #fafafa;
        }
      }
    }
  }
}

@include tablet-width {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .header__logo {
      gap: convertRem(10);
      @include fl-clmn;
    }
    .header__navigation {
      display: flex;
      .nav__list {
        @include fl-row;
        justify-content: space-between;
        width: 100%;
      }
    }
    @media (max-width: 767px) {
      .header__navigation {
        display: none;
      }
      .burger-btn {
        display: flex;
        .burger__line {
        }
      }
    }
  }
}

@include mobile-width {
  .header {
    width: toProcent(280, 300);
    margin: 0 auto;
    .header__navigation {
      display: none;
    }
  }
}
//**----------display width < 768px--------**//
.header__navigation-hidden {
  visibility: hidden;
  display: flex;
  position: fixed;
  z-index: 1;
  background: #292929;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transform: translateX(100%);
  transition: transform 1.3s ease-in;
  visibility: visible;
}

//**----------if burger menu active--------**//

.header {
  .header__navigation-active {
    visibility: visible;
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    transition: 1.3s;
    width: 100vw;
    height: 100vh;
    background: #292929;
    transform: translateX(0);
    transition: transform 1.3s ease-in;

    .nav__list-active {
      flex-direction: column;
      z-index: 3;
      position: relative;
      align-items: center;
      top: 24.8vh;
    }
  }
}
