.section-about{
  padding-top: 80px;
  padding-bottom: 100px;
  background: $color-light-xl;
  margin: 0 auto;
  .about__wrapper{
    @include fl-row;
    align-items: center;
    gap: 120px;

    .about__img {
      width: 300px;
      height: 408px;
    }
    .about__content{
      text-align: left;
      @include fl-clmn;
      gap: 25px;
      .about__title{
        max-width: 370px;
        letter-spacing: 2.6px;
      }

    }

  }
}