.section-about {
  padding-top: 80px;
  padding-bottom: 100px;
  background: $color-light-xl;
  margin: 0 auto;
  .about__wrapper {
    @include fl-row;
    align-items: center;
    justify-content: center;
    gap: 120px;

    .about__img {
      width: 300px;
      height: 408px;
    }
    .about__content {
      text-align: left;
      @include fl-clmn;
      gap: 25px;
      .about__title {
        max-width: 370px;
        letter-spacing: 2.6px;
      }
    }
  }
}
@include tablet-width {
  .section-about {
    .about__wrapper {
      gap: 80px;

      flex-direction: column-reverse;
    }
  }
}
@include mobile-width {
  .section-about {
    padding-top: convertRem(42);
    padding-bottom: convertRem(42);
    .about__wrapper {
      max-width: convertRem($mobile-wrapper-size);
      gap: convertRem(42);
      .about__img {
        width: 16.25rem;
        height: 22.12rem;
      }
    }
  }
}
