.not-only {
  background: radial-gradient(237.5% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%);
  width: 100%;
  padding-top: 30px;
  padding-bottom: 0;
  .not-only__wrapper {
    @include fl-clmn;
    gap: 90px;

    .not-only__container {
      @include fl-row;
      justify-content: space-between;
      // align-items: center;

      .not-only__content {
        @include fl-clmn;
        max-width: 460px;
        position: relative;
        top: 163px;
      }
    }
  }
}
