.section-pets {
  background-color: #f6f6f6;
  padding: 80px 0 100px 0;
}
.section-pets .pets__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.section-pets .pets__wrapper .pets__title {
  max-width: 400px;
}
.section-pets .pets__wrapper .pets__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.section-pets .pets__wrapper .pets__container .arr-right {
  transform: rotateY(180deg);
}
.section-pets .pets__wrapper .pets__container .pets__block-card {
  width: 82%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  gap: 90px;
}
.button-slider {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  background: transparent;
  font-size: 0%;
}
.pets__card {
  border: 1px solid red;
  border-radius: 0.56rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  width: 270px;
  background-color: #f6f6f6;
  gap: 30px;
  height: 435px;
}
.card__img {
  width: -webkit-fill-available;
}

.card__btn {
  width: 187px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  background-color: transparent;
}
button{
  cursor: pointer;
}


.move-right{
  transform: translateX(-270px);
  transition: transform 0.5s ease-in-out;
}
.move-left{
  transform: translateX(270px);
  transition: transform 0.5s ease-in-out;
}