//**-------MAIN------**//

@include media-tablet {
  body {
    .not-only {
      .wrapper {
        max-width: 44.25em;
        .not-only__container {
          @include fl-clmn;
          align-items: center;
          .not-only__img {
            width: 35.563em;
            height: 37.063em;
          }
        }
      }
      .not-only__wrapper{
        @include fl-clmn;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
@include media-mobile {
}
