//**-------flex------**//
@mixin fl-row {
  display: flex;
  flex-direction: row;
}
@mixin fl-clmn {
  display: flex;
  flex-direction: column;
}

@mixin bord {
  border: 1px solid;
}
//**---------BREAKPOINTS--------**//
@mixin screen-width {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin tablet-width {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin mobile-width {
  @media (max-width: 320px) {
    @content;
  }
}


@function convertRem($n){
  @return calc($n/16)+rem;
}