//***-----------BACKGROUND-COLORS-----------***/
$color-light-xl: #fff;
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444;
$color-dark-3xl: #292929;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$start-screen-gradient-background: #211f20;
$footer-gradient-background: #211f20;


//***---------------FONTS--------------***//

$primary-family: "Georgia", sans-serif;
$second-family: "Arial", sans-serif;

//***-----------------SIZES----------------***//
$body-sz:1280px;
$wrapper-sz:1200px;
$card-btn-sz-width:187px;
$card-btn-sz-height:52px;
$arrow-btn-sz-width:52px;
$arrow-btn-sz-height:52px;
$icon-help-sz-width:60px;
$icon-help-sz-height:60px;
$icon-location-sz-width:22px;
$icon-location-sz-height:32px;
$icon-contact-sz-width:40px;
$icon-contact-sz-height:32px;
$img-card-sz-width:270px;
$img-card-sz-height:270px;


//**---------BREAKPOINTS--------**//
$mobile-size:320px;
$tablet-size:768px;