.page-pets {
  display: flex;
  flex-direction: column;
  // align-items: center;
  .pets__wrapper {
    width: 100%;
    padding: 30px 0;
    .header {
      .header__navigation {
        .nav__list {
          .list {
            .nav-list__links:hover {
              color: #292929;
            }
          }
        }
      }
      @media (max-width: 767px) {
        .header__navigation {
          display: none;
        }
        .burger__menu {
          display: flex;
          .burger__line {
            border-color: #000;
          }
        }
      }
    }
  }
  .main {
    background: $color-light-l;
    padding-top: convertRem(80);
    padding-bottom: convertRem(100);
    .main-pets__wrapper {
      @include fl-clmn;
      align-items: center;
      gap: convertRem(45);

      .cards_container {
        @include fl-row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: convertRem(30);
        padding: convertRem(15) 0;
      }

      .pets__btn-container {
        @include fl-row;
        align-items: center;
        justify-content: space-between;
        width: convertRem(340);
      }
    }
  }
}

@include screen-width {
  .page-pets {
    .main {
      .main-pets__wrapper {
        gap: convertRem(45);
        .cards_container {
          width: 100%;
          column-gap: 0;
          justify-content: space-between;
          row-gap: convertRem(30);
          padding: convertRem(15) 0;
        }
      }
    }
  }
}

@include tablet-width {
  .page-pets {
    display: flex;

    .pets__wrapper {
    }
    .main {
      width: 100%;
      .main-pets__wrapper {
        max-width: toProcent(708, 768);
        gap: convertRem(30);

        .cards_container {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: toProcent(580, 708);
          height: 1365px;

          overflow: hidden;
          padding: 0;
          @media (max-width: 715px) {
            justify-content: center;
          }
        }
        .pets__btn-container {
          gap: 20px;
        }
      }
    }
  }
}
@include mobile-width {
  .page-pets {
    .pets__wrapper {
      max-width: convertRem($mobile-wrapper-size);
      padding-top: convertRem(30);
      padding-bottom: convertRem(30);
      .header {
        .burger__menu {
          .burger__line {
            border-color: #000;
          }
        }
      }
    }
    .main {
      padding-top: convertRem(42);
      padding-bottom: convertRem(42);
      max-height: 1649px;
      .main-pets__wrapper {
        width: toProcent(300, 380);
        gap: convertRem(42);
        .cards_container {
          height: 1365px;
          padding: 0;
          row-gap: convertRem(30);
          overflow: hidden;
        }
        // .pets__btn-container {
        //   gap: convertRem(10);
        // }
      }
    }
  }
}
