body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
section {
  padding-top: 80px;
  padding-bottom: 100px;
}
.wrapper {
  max-width: $wrapper-sz;
  margin: 0 auto;
  
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  cursor: pointer;
  text-decoration: none;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}
