html, body{
  font-size: 16px;
}
body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
section {
  padding-top: convertRem(80);
  padding-bottom: convertRem(100);
}
.wrapper {
  max-width: convertRem(1200);
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;

}
a {
  cursor: pointer;
  text-decoration: none;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}
//**-------break points ----**//

@include screen-width {

  .wrapper {
    max-width: toProcent(1200, 1280);
  }
}
@include tablet-width {
  .wrapper {
    max-width: toProcent(708, 768);
  }
}
@include mobile-width {
  .wrapper {
    max-width: toProcent(300,320);
  }
  section {
    padding-top: convertRem(42);
    padding-bottom: convertRem(42);
  }
}
