body{
  // max-width: $body-sz;
  display: flex;
  flex-direction: column;
  @include media-tablet{
    max-width: $tablet-size;
  }
  @include media-mobile{
    max-width: $mobile-size;
  }


}
section{
  padding-top: 80px;
  padding-bottom: 100px;
}
.wrapper{
  max-width: $wrapper-sz;
  margin: 0 auto;
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  cursor: pointer;
  text-decoration: none;

}
ul{
  padding-left: 0;
}
li{
  list-style: none;

}