h1 {
  margin-top: 0;
  font-family: $primary-family;
  font-weight: 400;
  font-size: 44px;

  color: $color-dark-l;
}
h2 {
  margin-top: 0;
  font-family: $primary-family;
  font-weight: 400;
  font-size: 35px;
  color: $color-dark-l;
}
p {
  font-family: $second-family;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: $color-dark-xl;
}
.section-title {
  font-family: $primary-family;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;

  color: $color-dark-l;
}
//**---------LOGO HEADER ----**//
.logo__name {
  font-family: $primary-family;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: $color-primary;
}
.logo__description {
  font-family: $second-family;

  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: $color-light-xl;
}

//**-------- NAV HEADER --------**//
.nav-list__links {
  font-family: $second-family;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: $color-dark-s;
}

.list:first-child {
  .nav-list__links {
    color: $color-light-s;
    pointer-events: none;
    cursor: default;
  }
  border-bottom: 3px solid $color-primary;
}

.content__title {
  color: $color-light-xl;
  margin: 0 0 42px 0;
  letter-spacing: 2.6px;
}
.not-only__text {
  color: $color-dark-s;
  line-height: 160%;
  font-weight: 400;
  margin: 0 0 42px 0;
}

//**----------BUTTONS---------**//
.not-only__button {
  font-family: $primary-family;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: $color-dark-3xl;
}
//**--------ABOUT---------**//
.about__title {
  margin: 0;
}

.about-content__text {
  margin: 0;
  max-width: 430px;
}
.card__name {
  font-family: $primary-family;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: $color-dark-l;
}
//*----------PETS--------*//
.pets__title {
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 1.24px;
}
.card__btn {
  font-family: $primary-family;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.16px;
  color: $color-dark-3xl;
}
//*----------HELP--------*//
.help__title {
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0;
}
.container__text {
  font-family: $primary-family;
  font-weight: 400;
  font-size: 20px;

  letter-spacing: 0.06em;
  text-align: center;
  color: $color-dark-l;
}
//*----------DONATION--------*//
.donation__title {
  text-align: left;
  margin: 0;
  letter-spacing: 3.61px;
  word-spacing: 12.1px;
}
.donation__text {
  font-family: $primary-family;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: $color-dark-l;
}
.donation__card-number {
  font-family: $primary-family;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: $color-dark-l;
}
.donation__text-cursive {
  font-family: $second-family;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: $color-dark-m;
  margin: 0;
}
//*----------FOOTER--------*//
.footer__title {
  font-family: $primary-family;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-light-xl;
  margin: 0;
}
.contact__link {
  font-family: $primary-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: $color-primary;
}
.location__link {
  font-family: $primary-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: $color-primary;
}

//*-------PAGE-PETS----*//
body.page-pets .nav-list__links {
  color: $color-dark-l;
}
body.page-pets .list:first-child {
  border: none;

}
body.page-pets .list:first-child {
  .nav-list__links {
    color: $color-dark-l;
    pointer-events: all;
    cursor: pointer;
  }
}

body.page-pets .list:nth-child(2) {
  .nav-list__links {
    color: $color-dark-3xl;
    pointer-events: none;
    cursor: default;
  }
  border-bottom: 3px solid $color-primary;
}
body.page-pets .logo__name {
  color: $color-dark-3xl;
}
body.page-pets .logo__description {
  color: $color-dark-3xl;
}
