button {
  cursor: pointer;
  font-family: $primary-family;
}
button:hover {
  transition: background 0.5s;
}

.not-only__button {
  display: block;
  border-radius: emmy(100);
  padding: emmy(15) emmy(45);
  width: 207px;
  height: 52px;
  background: $color-primary;
  border: none;
}

.not-only__button:hover {
  background: $color-primary-light;
}
.button-slider {
  width: 52px;
  height: 52px;
  border-radius: emmy(100);
  border: emmy(2) solid $color-primary;
  background: transparent;

  font-size: 0%;
}
.button-slider:hover {
  background: $color-primary-light;
  border: none;
}
.card__btn {
  width: 187px;
  height: 52px;
  border: emmy(2) solid $color-primary;
  border-radius: emmy(100);
  background-color: transparent;
}
.card__btn:hover {
  background: $color-primary-light;
  border: none;
}
.pets__button {
  border-radius: emmy(100);
  padding:emmy(15)emmy(45);
  width: 261px;
  height: 52px;
  background: $color-primary;
  border: none;
  text-align: center;

  font-weight: 400;
  font-size: emmy(17);
  color: $color-dark-3xl;
}
.donation__btn {
  border-radius: emmy(9);
  padding: convertRem(10) convertRem(15);
  width: toProcent(349, 380);
  max-width: convertRem(349);
  height: convertRem(43);
  background: $color-primary;
  border: none;
  @include fl-row;
  align-items: center;
  gap: emmy(10);
  @include mobile-width {
    width: toProcent(281, 300);
  }
}
//**----------page-PETS--------**//
body.page-pets .btn-double-arrow__left,
.btn-single-arrow__left {
  border: emmy(2) solid $color-dark-s;
  border-radius: emmy(100);
  color: $color-dark-s;

  width: 52px;
  height: 52px;
}
body.page-pets .btn-double-arrow__left,
.btn-single-arrow__left {
  pointer-events: none;
  cursor: default;
}
body.page-pets .pagination-slider {
  width: 52px;
  height: 52px;
  border-radius: emmy(100);

  font-family: $primary-family;
  font-weight: 400;
  font-size: convertRem(20);
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
}
body.page-pets .btn-single-arrow__right,
.btn-double-arrow__right,
.btn-number {
  border: emmy(2) solid $color-primary;
}
body.page-pets .btn-number {
  background: $color-primary;
}

//**---------BREAKPOINTS--------**//
