.pets__card {
  border: 1px solid red;
  transition: box-shadow 0.5s, transform 0.5s;
  transform: scale(1);
  border-radius: 0.56rem;
  @include fl-clmn;
  align-items: center;
  border-radius: 9px;
  width: 270px;
  background-color: $color-light-s;
  gap: 30px;
  height: 435px;
  .card__img {
    width: -webkit-fill-available;
  }
}
.pets__card:hover {

  cursor: pointer;
  background: $color-light-xl;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  transform: scale(1.05);
  transition: box-shadow 0.5s, transform 0.5s;

}
//**---------BREAKPOINTS--------**//
@include tablet-width {
  .pets__card {
    width: convertRem(270);
    gap: convertRem(30);
    height: convertRem(435);
    .card__img {
      width: convertRem(270);
      height: convertRem(270);
    }
  }
}
