.pets__card {
  @include fl-clmn;
  align-items: center;
  border-radius: 9px;
  padding: 0 35px;
  max-width: 270px;
  background-color: $color-light-s;
  gap: 30px;
  height: 435px;
}
.pets__card:hover{
  cursor: pointer;
  background: $color-light-xl;
}