.modal-window {
  max-width: 952px;
  width: toProcent(952, 1280);
  height: max-content;
  @include tablet-width {
    width: toProcent(682, 768);
    height: 402px;
  }
  @include mobile-width {
    width: toProcent(271, 320);
    @include fl-clmn;
  }
  background: transparent;
  border: none;
  padding: 0;
  .btn-modal {
    position: absolute;
    top: 0;
    right: 0;
    font-size: convertRem(36.2);
  }
  .modal-container {
    position: absolute;
    bottom: 0;
    width: toProcent(900, 952);
    @include tablet-width {
      width: toProcent(630, 682);
    }
    @include mobile-width {
      padding: convertRem(10);
    }
    @include fl-row;
    justify-content: space-between;
    align-items: center;
    background: $color-light-s;
    border-radius: convertRem(9);
    align-items: center;
    .modal-img {
      width: convertRem(500);
      height: convertRem(500);
      border-radius: 9px 0 0 9px;
      @include tablet-width {
        width: toProcent(350, 630);
        height: 350px;
      }
      @include mobile-width {
        display: none;
      }
    }
    .modal-content {
      @include fl-clmn;
      flex-wrap: nowrap;
      width: toProcent(260, 630);
      gap: convertRem(40);
      @include tablet-width {
        gap: convertRem(20);
      }
      @include mobile-width {
       width: 100%;
      }
      @include mobile-width{
        gap: convertRem(24);
        width: 100%;
      }
      .modal-description {
        @include fl-clmn;
        gap: convertRem(10);

        h3,
        h4,
        h5 {
          margin: 0;
          font-family: $primary-family;
          font-weight: 400;
          letter-spacing: 0.06em;
          color: #000;
        }
        .pet-name {
          font-size: convertRem(35);
          line-height: 130%;
          @include mobile-width {
            text-align: center;
          }
        }
        .pet-typeBreed {
          font-size: convertRem(20);
          line-height: 115%;
          @include mobile-width {
            text-align: center;
          }
        }
        .pet-description {
          margin-top: convertRem(30);
          @include tablet-width {
            margin-top: convertRem(20);
          }
          font-size: convertRem(15);
          line-height: 110%;
          @include tablet-width {
            font-size: convertRem(13);
            margin-top: 10;
          }
        }
      }
      .modal-list {
        padding-left: convertRem(15);
        margin: 0;

        li {
          list-style: unset;
        }
        li::marker {
          color: $color-primary;
        }
        .list-item {
          span {
            font-family: $primary-family;
            font-size: convertRem(15);
            line-height: 110%;
            letter-spacing: 0.06em;
            color: #000;
          }
          .name-item {
            font-weight: 700;
          }
          .text-item {
            font-weight: 400;
          }
        }
      }
    }
  }
}
.modal-window::backdrop {
  background: #545454ba;
}

.stopScroll {
  overflow: hidden;
}
